</main>
<footer class="container">
    <p class="text-center"><a class="{{#if isHome}} active{{/if}}" href="/">Home</a> | <a class="{{#if isArticles}} active{{/if}}" href="/articles">Articles</a> | <a class="{{#if isAbout}} active{{/if}}" href="/about">About</a></p>
</footer>