<nav class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{{#if isHome}} active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{#if isAbout}} active{{/if}}" href="/about">About</a>
        </li>
    </ul>
</nav>

{{#if isHome}}
<header>
    <div class="jumbotron jumbotron-fluid mt-1">
        <div class="container">
            <h1 class="display-3">All the news!</h1>
            <p class="lead">Everything you want to know about everything is one place.</p>
        </div>
    </div>
</header>
{{/if}}

<main>