<div id="CommentModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leave a comment on - </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="NewComment">
            <div class="form-group">
                <label for="NewCommentBody">Comment</label>
                <textarea class="form-control" id="NewCommentBody" rows="3"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="PostNewComment" class="btn btn-primary">Post</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        var postID;
        var $Footer;

        $('.delete-comment').on('click', deleteComment);

        $('.open-comment-modal').on('click', function() {
            postID = $(this).attr('data-id');
            $Footer = $(this).parent('.card-body').siblings('.card-footer');
        });

        $('#PostNewComment').on('click', function() {
            var comment = $('#NewCommentBody').val();
            var $CommentsLength = $Footer.find('.comments-length');
            var numberOfComments = ($CommentsLength.text() * 1) + 1;

            $.post('/articles/' + postID, {body: comment}, function() {
                console.log(comment);
            }).done(function(commentID) {

                $Footer.find('.collapse').append('<p><a href="#" class="delete-comment" data-article-id="' + postID + '" data-comment-id="' + commentID + '">DELETE</a> | ' + comment + '</p>');
                $Footer.find('.collapsed').attr('aria-expanded', true).removeClass('collapsed');
                $Footer.find('.collapse').addClass('show');

                $('#CommentModal').modal('toggle');
                $('#NewCommentBody').val('');

                $CommentsLength.text(numberOfComments);

                $('.delete-comment').off('click', '**');
                $('.delete-comment').on('click', deleteComment);
            });
        });

        function deleteComment() {

            var id = $(this).attr('data-comment-id');
            var articleID = $(this).attr('data-article-id');
            var $P = $(this).parent('p');
            var $CommentsLength = $(this).parents('.collapse').siblings('.view-comments').find('.comments-length');
            var numberOfComments = ($CommentsLength.text() * 1) - 1;

            console.log($CommentsLength.text(), numberOfComments);

            $.post('/delete/' + id, {articleID: articleID}, function() {
                console.log('comment ' + id + ' deleted'); 
            }).done(function(data) {
                console.log(data);
                $P.remove();
                $CommentsLength.text(numberOfComments);
            });
        }

    });
</script>